# Server Configuration
PORT=3001

# Gemini API Integration
# Ensure you are using Gemini 2.5 flash or pro model keys
GEMINI_API_KEY="your_api_key_here"

# TomTom API Integration for Traffic/Transport
TOMTOM_API_KEY="your_tomtom_api_key_here"

# WAQI API Integration for Ecology
WAQI_API_KEY="your_waqi_api_key_here"
